@model MovieModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Movie Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Movie</h4>
    <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.ReleaseDateOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.ReleaseDateOutput)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.TotalBoxOfficeOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.TotalBoxOfficeOutput)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.DirectorOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.DirectorOutput)
            </dd>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Users)
            </dt>
            <dd class="col-10">
                @foreach(var user in Model.Users)
                {
                    @(user.UserName + "("+user.Status+")")
                    <br>
                }
            </dd>
        </dl>
        </dl>

        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.LengthOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.LengthOutput)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.CountryOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.CountryOutput)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.ImdbRateOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.ImdbRateOutput)
            </dd>
        </dl>
</div>
<div>
    @if (User.IsInRole("user"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        @:&nbsp;| &nbsp;
    }
    <a asp-action="Index">Back to List</a>
</div>



